/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
h4,
p,
small,
.btn {
    font-family: sans-serif;
}

.btn {
    color: white;
    background-color: #28acf8;
    border-radius: 20px;
    border: none;
    width: 6rem;
    padding: 6px;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6px;
}

.icon {
    width: 24px; 
}

/* MAIN LAYOUT */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    width: 100%;
    height: 100vh; 
}

/* SIDEBAR */

.sidebar {
    grid-row: 1 / 3;
    padding: 1rem;
    background-color: #28acf8;
}

/* Logo */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 1rem;
}

.title {
    width: 100%;
    color: whitesmoke;
    font-family: sans-serif;
}

.logo {
    width: 3.5rem;
}

/* Nav menu */

.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    height: 60%;
}

.nav-menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
    align-content: center;
}

.sub-menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
}

.logout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1, 1fr;
    align-content: stretch;
}


.icon--menu {
    justify-self: center;
    align-self: end;
}

.menu-link {
    justify-self: flex-start;
    align-self: end;
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
}

/* HEADER */

.header {
    padding: .5rem 3rem;
    background-color: white;
}

/* top header */

.top-header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 40%;
}

.search-section {
    display: flex;
    gap: 1rem;
    width: 50%;
    align-items: center;
}

.form-control {
    width: 100%;
    height: 2rem;
    border: 0.8px solid rgb(213, 213, 213);
    display: block;
    border-radius: 20px;
    background: rgb(247, 247, 247);
    box-shadow: rgba(26, 26, 26, 0.1) 0px 2px 5px 0px inset;
    font-size: 1rem;
    font-family: white, sans-serif;
    font-weight: 500;
    color: rgb(100, 100, 100);
    padding: 0 .5rem;
}

.user-control {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.placeholder--news {
    width: 30%;
}

/* avatar styles */

.avatar {
    width: 100%
}

.avatar--profile {
    width: 60%;
}

.user-display-name {
    padding: 6px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* bottom header */

.profile-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60%;
}



.profile {
    display: flex;
    width: 60%;
}

.greeting-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.primary-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    gap: 1rem;
}


/* CONTENT */

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    background-color: rgb(237, 243, 245);
    box-shadow: inset 0px 8px 16px -3px rgba(0,0,0,0.1);
}

.content-title {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

/* Projects */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2rem 0 2rem 2rem;
    gap: 2rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: stretch;
}

.row {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    gap: 2rem;
}

/* card styles */

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 6px;
    height: stretch;
}

.card-header {
    margin-top: .5rem;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 14px;
    color: rgb(92, 91, 91);
}

.card-footer {
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.lead {
    font-weight: 600;
    font-size: 14px;
}

.card--project {
    width: 50%;
    border-left: 8px solid orange;
    padding: 1rem;
    justify-content: space-between;
}

/* news */

.news-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2rem 2rem 2rem 0;
    gap: 2rem;
}

.bold {
    font-weight: bold;
    text-transform: capitalize;
}

.card--news {
    padding: 2rem;
}

.small {
    font-size: 12px;
    color: rgb(92, 91, 91);
}

.divider {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.card--trending {
    padding: 2rem;
    justify-content: space-between;
}

.token {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}






